<header>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        Cafe Du Lucas
      </a>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" href="#">Sobre</a>
        <a class="nav-link" href="#">Contato</a>
        <a class="nav-link active" href="/mesas">Mesas</a>
        <a class="nav-link" href="/consumos">Consumos</a>
        <a class="nav-link" href="/cardapio">Cardápio</a>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="container py-4">

    <h1 class="text-center mb-2">
      Mesas
    </h1>

    <p class="text-center text-muted mb-4">
      Selecione uma mesa para abrir um consumo
    </p>

    <div class="row g-4">

      @for (mesa of mesas(); track mesa.id) {

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">

          <div
            class="card h-100 shadow-sm"
            [class.mesa-disponivel]="!mesaOcupada(mesa.id)"
            [class.mesa-ocupada]="mesaOcupada(mesa.id)"
          >

            <div class="card-body text-center">

              <div class="mesa-icone">
                🍽️
              </div>

              <h3 class="card-title">
                Mesa {{ mesa.numero }}
              </h3>

              <p class="card-text">
                 @if (mesaOcupada(mesa.id)) {
                  Ocupada
                } @else {
                  Disponível
                }
              </p>

            @if (mesaOcupada(mesa.id)) {

              <button class="btn btn-danger"
              (click)="consumosPagina()">
                Ver consumo
              </button>

            } @else {

              <button
                class="btn btn-success"
                (click)="abrirConsumo(mesa.id)">
                Abrir consumo
              </button>

            }
            </div>

          </div>

        </div>

      }

    </div>

  </div>
</main>

<footer class="bg-dark text-white text-center py-3">
  <h6>&copy; 2026 Cafe Du Lucas. Todos os direitos reservados.</h6>
</footer>